<div class="mb-3">
  <%= form_with url: request.path, method: :get, local: true, class: "row g-2" do |form| %>
    <div class="col-md-8 col-lg-9">
      <%= form.text_field :q, value: @query, class: "form-control form-control-sm", placeholder: "Nome, usuário do Github, organização, localização..." %>
    </div>
    <div class="col-md-4 col-lg-3 d-flex gap-2">
      <%= form.submit "Buscar", class: "btn btn-primary btn-sm flex-fill" %>
      <%= link_to "Limpar", request.path, class: "btn btn-primary btn-sm flex-fill" %>
    </div>
  <% end %>
</div>

